<div>
  <label for="">Add new</label>
  <input type="text" [(ngModel)]="newItemInput" #newItem />
</div>
<button class="btn btn-primary" (click)="addItem(newItem.value)">Add!</button>
<div id="items"></div>

<div class="card">
  <ul class="list-group list-group-flush">
    <div id="list">
      <li class="list-group-item" *ngFor="let item of todos" id="${item.id}">
        <span [ngClass]="{'crossed-out': item.status}" id="{{ item.id }}"><input id="{{item.id}}" type="checkbox"
            (change)="updateItem(item.id)" /> {{
          item.id }}
          {{
          item.name }}
          <button id="dupa" (click)="removeItem($event)">x</button>
        </span>
      </li>
    </div>
  </ul>
</div>